.loginPage {
  background: var(--mantine-color-body);
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.container{
  background-color: white;
  color:var(--mantine-em-color)
}

.header {
  padding: 2rem 0;
}

.form{
  color:var(--main-color)
}
