:root {
  --button-bg: #f39111; /* ボタンの背景色 */
  --button-hover: #f39111; /* ボタンのホバー時の背景色 */
  --input-color: #f39111;
}

body {
  --mantine-color-text: #764a1b;
}

button {
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.8;
}
