.body{
  --mantine-color-body:var(--mantine-color-brand-4);
  //background: var(--mantine-color-brand-3);
}

.header {
  color: #ffffff;
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav{
  button,a{
    width: 100%;
    background: none;
    transition: background 0.2s ease,color 0.2s ease;
    &.current{
      background: #ffffff;
      color:var(--mantine-color-brand-3);
    }
    &:not(.current){
      &:hover{
        background: #ffffff;
        color:var(--mantine-color-brand-3);
      }
    }
  }
}

