.loginPage {
  background: var(--mantine-color-brand-1);
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.container{
  background-color: white;
  h1{
    color:var(--mantine-color-brand-3)
  }
}

.header {
  padding: 2rem 0;
}
